<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Details</title>
</head>
<body>
    <h2><span style="color: chocolate;">Название книги:</span> {{ book_object.title }}</h2>
    <h3><span style="color: chocolate;">Автор:</span> {{ book_object.author }}</h3>
    <h4><span style="color: chocolate;">Жанр:</span> {{ book_object.genre }}</h4>
    <h4><span style="color: chocolate;">Описание:</span> {{ book_object.description }}</h4>
    <h4><span style="color: chocolate;">Год издания:</span> {{ book_object.year }}</h4>
    <h4><span style="color: chocolate;">Цена:</span> {{ book_object.price }} сомов</h4>
</body>
</html>